/* general */

h2 {
  font-family: sans-serif;
}
h3 {
  font-family: sans-serif;
}
.App {
  /* text-align: left; */
  background-color: aqua;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  background-color: aqua;
  border: 1px solid  #1c2f55;
  justify-content: left;
}

/* Hero */
.hero-icontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-info {
  background-color:aqua;
  text-align: center;
  font: sans-serif;
  color: #1c2f55;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.hero-image {
  border: 5px solid #1c2f55;
  border-color: #1c2f55;
  border-radius: 5px;
}

/* Allies */

.allies {
  background-color:aqua;
  border-radius: 5px;
}

/* villains */
.vil-det{
  background-color:aqua;
  border-radius: 5px;
}
.vil-form{
  background-color:aqua;
  border-radius: 5px;
  display: block;
}
.vil-info{
  font-family: sans-serif;
  color: #1c2f55;
}

/* gadgets */
